@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--單頁功能獨立樣式表-->
@section Custom
{
    <link href="~/Content/jq-content.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jq-bootstrap-modal.css" rel="stylesheet" type="text/css" />
}
<div id="content" class="content-page">
    <input type="hidden" id="funcName" value="elvtAction" /> <!--頁面功能名稱,每頁必加-->
    <!--查詢條件區域-->
    <div class="form-group search-form">
        <div class="button btn-block" type="button" data-toggle="collapse" data-target="#searchConditions" aria-expanded="true" aria-controls="searchConditions">
            <span data-lngKey="searchCondition" class="caret"></span>
        </div>
        <div id="searchConditions" class="collapse show search-content">
            <form id="formQuery">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_elvt_id" name="ELVT_ID" type="text" class="form-control" />
                            <label for="query_elvt_id" data-lngKey="elvt_id"></label>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_elvt_name" name="ELVT_NAME" type="text" class="form-control" />
                            <label for="query_elvt_name" data-lngKey="elvt_name"></label>
                        </div>
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_id" name="ID" type="text" class="form-control" />
                            <label for="query_id" data-lngKey="id"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_name" name="NAME" type="text" class="form-control" />
                            <label for="query_name" data-lngKey="name"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_command_name" name="COMMAND_NAME" type="text" class="form-control" />
                            <label for="query_command_name" data-lngKey="command_name"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_command" name="COMMAND" type="text" class="form-control" />
                            <label for="query_command" data-lngKey="command"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group in-border must-input">
                            <input id="query_type" name="TYPE" type="text" class="form-control" />
                            <label for="query_type" data-lngKey="type"></label>
                        </div>
                    </div>
                    <div class="col-md align-self-end align-items-end form-group">
                        <button data-lngKey="search" type="button" id="btnQuery" class="button float-right log"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--資料顯示表格區-->
    <div class="tableParent">
        <div id="toolbar">
            <a href="#" id="btnAdd" class="easyui-linkbutton log" plain="true" data-lngKey="add"><i class="fas fa-file-medical fa-lg"></i></a>
            <a href="#" id="btnEdit" class="easyui-linkbutton log" plain="true" data-lngKey="edit"><i class="fas fa-file-signature fa-lg"></i></a>
            <a href="#" id="btnDelete" class="easyui-linkbutton log" plain="true" data-lngKey="delete"><i class="fas fa-trash-alt fa-lg"></i></a>
            <a href="#" id="btnExportOnGrid" class="easyui-linkbutton log" plain="true" data-lngKey="exportExcel"><i class="fas fa-file-export fa-lg"></i></a>
        </div>
        <table id="dg"></table>
    </div>

    <!--彈出式編輯視窗-->
    <div id="modal_edit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="span_action"></span></h4>
                    <button type="button" id="btnCloseModal_edit" class="close log" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="formEdit">
                        <div class="row">
                            <div class="col-md-6 form-group" hidden="hidden">
                                <div class="form-label-group in-border must-input">
                                    <input name="ELVT_GUID" type="text" class="form-control" />
                                </div>
                            </div>
                            @*<div class="col-md-6 form-group">
                                <div class="form-label-group in-border must-input agv-content">
                                    <input id="edit_elvt_id" name="ELVT_ID" type="text" class="form-control" readonly />
                                    <label for="edit_elvt_id" data-lngKey="elvt_id"></label>
                                    <button data-target-name="query_elvt_id" type="button" id="edit_elvt_modal" class="button queryBtn float-right log">
                                        <i class="fas fa-external-link-alt"></i>
                                    </button>
                                </div>
                            </div>*@
                            <!--電梯代號-->
                            <div id="divAdd2" class="col-md-6 form-group">
                                <div class="form-label-group in-border must-input">
                                    <select id="edit_elvt_id" name="ELVT_ID" class="form-control required">
                                        <option value=" "></option>
                                        <option value="Elevator1">Elevator1</option>
                                        <option value="Elevator6">Elevator6</option>
                                    </select>
                                    <label data-lngKey="elvt_id" for="edit_elvt_id"></label>
                                </div>
                            </div>
                            <!--代號-->
                            <div class="col-md-6 form-group">
                                <div class="form-label-group in-border must-input">
                                    <input id="edit_id" name="ID" type="text" class="form-control" />
                                    <label for="edit_id" data-lngKey="id"></label>
                                </div>
                            </div>
                            <!--名稱-->
                            <div class="col-md-6 form-group">
                                <div class="form-label-group in-border must-input">
                                    <input id="edit_name" name="NAME" type="text" class="form-control" />
                                    <label for="edit_name" data-lngKey="name"></label>
                                </div>
                            </div>
                            <!--關聯命令-->
                            <div class="col-md-6 form-group" hidden="hidden">
                                <div class="form-label-group in-border must-input">
                                    <input name="COMMAND_GUID" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group in-border agv-content must-input">
                                    <input id="edit_command" name="COMMAND" class="form-control" readonly />
                                    <label for="edit_command" data-lngKey="command"></label>
                                    <button data-target-name="query_command" type="button" id="edit_command_modal" class="button queryBtn float-right log">
                                        <i class="fas fa-external-link-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <!--順序-->
                            <div class="col-md-6 form-group">
                                <div class="form-label-group in-border">
                                    <input id="edit_index" name="INDEX" type="text" class="form-control" />
                                    <label for="edit_index" data-lngKey="index"></label>
                                </div>
                            </div>
                            <!--下個順序-->
                            <div class="col-md-6 form-group">
                                <div class="form-label-group in-border">
                                    <input id="edit_next_index" name="NEXT_INDEX" type="text" class="form-control" />
                                    <label for="edit_next_index" data-lngKey="next_index"></label>
                                </div>
                            </div>
                            <!--類型-->
                            <div class="col-md-6 form-group">
                                <div class="form-label-group in-border">
                                    <input id="edit_type" name="TYPE" type="text" class="form-control" />
                                    <label for="edit_type" data-lngKey="type"></label>
                                </div>
                            </div>
                            <!--說明-->
                            <div class="col-md-12 form-group">
                                <div class="form-label-group in-border">
                                    <input id="edit_remark" name="REMARK" type="text" class="form-control" />
                                    <label for="edit_remark" data-lngKey="remark"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAccept" class="btn btn-primary log ajaxRequest" data-dismiss="modal" data-lngKey="ok">確定</button>
                </div>
            </div>
        </div>
    </div>

    <!--選擇視窗-->
    <div id="modal_Query" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="queryModalTitle" class="modal-title"></h4>
                    <button type="button" id="btnCloseModal_edit" class="close log" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="formQueryB">
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <div class="form-label-group in-border must-input">
                                    <input id="query_chooseId" name="NAME" type="text" class="form-control" />
                                    <label for="query_chooseId" data-lngKey="NAME"></label>
                                </div>
                            </div>
                            <div class="col-md-5 form-group">
                                <div class="form-label-group in-border must-input">
                                    <input id="query_chooseName" name="COMMAND" type="text" class="form-control" />
                                    <label for="query_chooseName" data-lngKey="COMMAND"></label>
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <button type="button" id="btnQueryChoose" class="btn btn-primary log ajaxRequest" data-lngKey="search"></button>
                            </div>
                        </div>
                    </form>
                    <table id="dgB"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnChoose" class="btn btn-primary log ajaxRequest" data-dismiss="modal" data-lngKey="ok"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let action = "";
    let selectedIndex;
    let selectedGUID;
    let queryParams;
    let doc;
    let bannedModify = []; //禁止修改的欄位input name

    let selectedElvtGUID;
    let selectedCmdGUID;

    let elvt_id;
    let elvt_name;

    let cmd_name;
    let cmd_command;

    //頁面元件初始化
    function PageInit() {
        $('#dg').datagrid({
            url: '../api/ApiElvtAction/Query',
            method: 'POST',
            toolbar: '#toolbar',
            singleSelect: true,
            pagination: true, //顯示資料換頁工具列
            fit: true, //固定Grid高度,需指定
            sortName: 'ID',
            emptyMsg: '<div style="text-align:center">No data.</div>',
            columns: [[
                { field: 'GUID', title: '', width: '0%', hidden: true },
                { field: 'ELVT_ID', title: doc.getTextByKey('elvt_id'), sortable: true },
                { field: 'ID', title: doc.getTextByKey('id'), sortable: true },
                { field: 'NAME', title: doc.getTextByKey('name'), sortable: true },
                { field: 'COMMAND_GUID', title: '', width: '0%', hidden: true },
                { field: 'COMMAND_NAME', title: doc.getTextByKey('command_name')},
                { field: 'COMMAND', title: doc.getTextByKey('command')},
                { field: 'INDEX', title: doc.getTextByKey('index'), sortable: true },
                { field: 'NEXT_INDEX', title: doc.getTextByKey('next_index'), sortable: true },
                { field: 'TYPE', title: doc.getTextByKey('type'), sortable: true },
                { field: 'REMARK', title: doc.getTextByKey('remark') }
            ]],
            onSelect: function (index, field) {
                //抓選到的GUID,INDEX
                selectedGUID = field.GUID;
                selectedCmdGUID = field.COMMAND_GUID;
                selectedIndex = index;

                //選中資料後可編輯
                $('#btnEdit').linkbutton('enable');
                $('#btnDelete').linkbutton('enable');
            }, onBeforeLoad: function (param) {
                if (action != '') {
                    return true;
                }
                else {
                    return false;//預設初次載入頁面不查詢
                }
            }, onLoadSuccess: function (rows) {
                //查詢後去除曾經選過的
                selectedGUID = undefined;
                selectedIndex = undefined;

                //查詢後編輯、刪除不可用
                $('#btnEdit').linkbutton('disable');
                $('#btnDelete').linkbutton('disable');
            }
        });

        //資料換頁工具列文字顯示
        var p = $('#dg').datagrid('getPager');
        $(p).pagination({
            pageSize: 10,
            pageList: [5, 10, 15],
            beforePageText: doc.getTextByKey('beforePageText'),
            afterPageText: doc.getTextByKey('afterPageText'),
            displayMsg: doc.getTextByKey('displayMsg')
        });

        //換頁後編輯、刪除、匯出不可用
        $('#btnEdit').linkbutton('disable');
        $('#btnDelete').linkbutton('disable');
        $('#btnExportOnGrid').linkbutton('disable');

        //停用輸入欄位的自動填入舊資料
        let tagArr = document.getElementsByTagName("input");
        for (let i = 0; i < tagArr.length; i++) {
            tagArr[i].autocomplete = 'off';
        }

        //套用浮動輸入欄位標籤樣式
        let labels = document.getElementsByTagName('LABEL');
        for (let i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != '') {
                let elem = document.getElementById(labels[i].htmlFor);
                if (elem) {
                    elem.setAttribute("placeholder", labels[i].textContent);
                }
            }
        }

        $('#modal_edit').modal({
            show: false, //預設不顯示
            backdrop: 'static', //彈出視窗點背景無法關閉
            keyboard: false, //按Esc鍵不會關閉視窗
        });

        //設定事件綁定
        bindActionEvent();
        bindAjaxEvent();
    }

    //事件綁定
    function PageEventBind() {
        //基本按鈕
        $('#btnQuery').on('click', () => { Query(1) });
        $('#btnAdd').on('click', Add);
        $('#btnEdit').on('click', Edit);
        $('#btnDelete').on('click', Delete);
        $('#btnExportOnGrid').on('click', ExportOnClick);

        //編輯與確認
        $('#btnAccept').on('click', Accept);
        $('.btn-confirm').on('click', Confirm);
        $('#modal_edit').on('show.bs.modal', onEditModalShow);

        //b查詢
        $('#btnQueryChoose').on('click', queryB);
        $('#edit_elvt_modal').on('click', () => { QueryData(1, 'elvt') });
        $('#edit_command_modal').on('click', () => { QueryData(1, 'cmd') });
        $('#edit_elvt_modal').on('click', ChooseSnow);
        $('#edit_command_modal').on('click', ChooseSnow);
        $('#modal_editb').on('show.bs.modal', onEditModalShowB);
        $('#modal_Query').on('show.bs.modal', beforeSubModalShow);
        $('#modal_Query').on('shown.bs.modal', onSubModalShow);
        $('#btnChoose').on('click', afterChoose);

        $(window).on("resize", resizeLayout);
    }

    //查詢B表AJAX
    async function QueryData(pageIdx, selectWhat) {
        switch (selectWhat) {
            case "elvt":
                queryurl = '../api/ApiElvtAction/GetElvtCount';
                break;
            case "cmd":
                queryurl = '../api/ApiElvtAction/GetCmdCount';
                break;
        }

        queryParamsB = $('#formQueryB').serializeObject();
        await new Promise((resolve, reject) => {
            $.ajax({
                type: "POST",
                url: queryurl,
                data: queryParamsB,
                dataType: "json",
                success: function (response) {
                    queryParamsB.total = response.count;
                    resolve(queryParamsB);

                }
            }).then((parms) => {
                $("#dgB").datagrid('options').queryParams = parms;
                $('#dgB').datagrid('gotoPage', pageIdx);
            });
        });
    }

    //tableInitB() 子查詢開啟選擇表
    function tableInitB(e) {
        let targetId = choosetargetId;

        switch (targetId) {
            case "edit_elvt_modal":
                dataurl = '../api/ApiElvtAction/GetDataListElvt';
                $('#dgB').datagrid({
                    url: dataurl,
                    method: 'POST',
                    singleSelect: true,
                    pagination: true, //顯示資料換頁工具列
                    height: 350,
                    sortName: "ID",
                    emptyMsg: '<div style="text-align:center">No data.</div>',
                    columns: [[
                        { field: 'GUID', title: '', width: '0%', hidden: true },
                        { field: 'ID', title: doc.getTextByKey('ID'), width: '50%', sortable: true },
                        { field: 'NAME', title: doc.getTextByKey('NAME'), width: '50%', sortable: true }
                    ]],
                    onSelect: function (index, field) {
                        $('#btnChoose').attr('disabled', false);
                        selectedElvtGUID = field.GUID;
                        elvt_id = field.ID;
                        elvt_name = field.NAME;
                        $('#edit_elvt_id').val(field.ID);
                    }, onBeforeLoad: function (param) {
                        if (queryParamsB === null) {
                            return true; //無參數時不查詢
                        } else {
                            param.total = queryParamsB.total;
                        }
                    }, onLoadSuccess: function (rows) {
                        $('#btnQueryChoose').attr('disabled', false);
                        $('#btnChoose').attr('disabled', true);
                        guidB = null;
                    }
                });
                break;
            case "edit_command_modal":
                dataurl = '../api/ApiElvtAction/GetDataListCmd';
                $('#dgB').datagrid({
                    url: dataurl,
                    method: 'POST',
                    singleSelect: true,
                    pagination: true, //顯示資料換頁工具列
                    height: 350,
                    sortName: "NAME",
                    emptyMsg: '<div style="text-align:center">No data.</div>',
                    columns: [[
                        { field: 'GUID', title: '', width: '0%', hidden: true },
                        { field: 'NAME', title: doc.getTextByKey('NAME'), width: '50%', sortable: true },
                        { field: 'COMMAND', title: doc.getTextByKey('command'), width: '50%', sortable: true }
                    ]],
                    onSelect: function (index, field) {
                        $('#btnChoose').attr('disabled', false);
                        selectedCmdGUID = field.GUID;
                        cmd_name = field.NAME;
                        cmd_command = field.COMMAND;
                        $('#edit_command').val(field.COMMAND);
                    }, onBeforeLoad: function (param) {
                        if (queryParamsB === null) {
                            return true; //無參數時不查詢
                        } else {
                            param.total = queryParamsB.total;
                        }
                    }, onLoadSuccess: function (rows) {
                        $('#btnQueryChoose').attr('disabled', false);
                        $('#btnChoose').attr('disabled', true);
                        guidB = null;
                    }
                });
                break;
        }
        //資料換頁工具列文字顯示
        var p = $('#dgB').datagrid('getPager');
        $(p).pagination({
            pageSize: 10,
            pageList: [5, 10, 15],
            beforePageText: doc.getTextByKey('beforePageText'),
            afterPageText: doc.getTextByKey('afterPageText'),
            displayMsg: doc.getTextByKey('displayMsg')
        });
    }

    //選擇開窗
    function ChooseSnow(e) {
        choosetargetId = e.currentTarget.id;
        $('#modal_Query').modal('show');
    }

    //查詢B表 
    function queryB() {
        queryParamsB = new Object();
        queryParamsB = $('#formQueryB').serializeObject();
        $('#dgB').datagrid('options').queryParams = queryParamsB;
        $('#dgB').datagrid('gotoPage', 1);
    }

    //重設頁面元件大小
    function resizeLayout() {
        //重設手風琴選單大小
        $('#formQueryPanel').accordion('resize');
        //重設Grid大小
        $('#dg').datagrid('resize');
    }

    //查詢
    async function Query(pageIdx) {
        action = 'query';
        $('#btnEdit').linkbutton('disable');
        $('#btnDelete').linkbutton('disable');

        queryParams = $('#formQuery').serializeObject();

        await new Promise((resolve, reject) => {
            $.ajax({
                type: "POST",
                url: "../api/ApiElvtAction/Count",
                data: queryParams,
                dataType: "json",
                success: function (response) {
                    queryParams.total = response.count;
                    resolve(queryParams);
                }
            });
        }).then((parms) => {
            $("#dg").datagrid('options').queryParams = parms;
            $('#dg').datagrid('gotoPage', pageIdx);
            return;
        }).then(() => {
            //可匯出
            $('#btnExportOnGrid').linkbutton('enable');
            $('.ajaxRequest').attr('disabled', false);
        });
    }

    //新增,清空欄位後開窗
    function Add() {
        if ($(this).linkbutton('options').disabled == true) return;

        action = 'add';
        //selectedGUID = "";
        selectedCmdGUID = "";

        let elm = document.getElementById("formEdit");

        for (let i = 0; i < elm.length; i++) {
            elm[i].value = "";
            elm[i].disabled = false;
        }

        $('#modal_edit').modal('show');
    }

    //編輯
    function Edit() {
        if ($(this).linkbutton('options').disabled == true) return;

        let data = { GUID: selectedGUID };
        action = 'edit';

        $.ajax({
            type: "POST",
            url: "../api/ApiElvtAction/GetOneByGUID",
            data: data,
            dataType: "json",
            success: function (data) {
                let userData = data.rows[0];
                let elm = document.getElementById("formEdit");

                for (let i = 0; i < elm.length; i++) {
                    let name = elm[i].name;
                    $(elm[i]).val(userData[name]);

                    if (bannedModify.includes(name)) {

                    }
                }
            },
            complete: function (url) {
                $('#modal_edit').modal('show');
            }
        });
    }

    //刪除
    function Delete() {
        if ($(this).linkbutton('options').disabled == true) return;

        action = 'delete';

        JQMessageBox(
            globalDoc.getTextByKey('confirm'),
            globalDoc.getTextByKey('delMsg'),
            {
                'Y': globalDoc.getTextByKey('y'),
                'N': globalDoc.getTextByKey('n')
            },
            Confirm
        );
    }

    //事件:顯示資料編輯視窗,動態更新標題用
    function onEditModalShowB(e) {
        let formTitle = $('#span_action')[0];

        switch (action) {
            case "add":
                formTitle.innerText = globalDoc.getTextByKey("add");
                break;
            case "edit":
                formTitle.innerText = globalDoc.getTextByKey("edit");
                break;
        }

        $('#btnAccept').text(globalDoc.getTextByKey("ok"));
    }

    //事件:顯示資料編輯視窗,動態更新標題用
    function onEditModalShow(e) {
        let formTitle = $('#span_action')[0];

        switch (action) {
            case "add":
                formTitle.innerText = globalDoc.getTextByKey("add");
                break;
            case "edit":
                formTitle.innerText = globalDoc.getTextByKey("edit");
                break;
        }

        $('#btnAccept').text(globalDoc.getTextByKey("ok"));
    }

    //資料異動確認
    async function Accept() {
        let data, actionUrl, guid;
        let edit_elvt_id = $('#edit_elvt_id').val();//電梯代號
        let edit_id = $('#edit_id').val();//代號
        let edit_name = $('#edit_name').val();//名稱
        let edit_index = $('#edit_index').val();
        let edit_next_index = $('#edit_next_index').val();
        let edit_type = $('#edit_type').val();
        let edit_remark = $('#edit_remark').val();
        $('#modal_edit').modal('hide');
        $('#btnAccept').attr('disabled', false);

        data = $('#formEdit').serializeObject();
        if (selectedElvtGUID != undefined) {
            data.ELVT_GUID = selectedElvtGUID;
        }
        if (selectedCmdGUID != undefined) {
            data.COMMAND_GUID = selectedCmdGUID;
        }
        if (action == "add") {
            //新增-紀錄新增者
            data.INSERT_USER = sessionStorage.getItem("userGuid");
        } else {
            //刪修-紀錄更新者
            data.GUID = selectedGUID
            data.UPDATE_USER = sessionStorage.getItem("userGuid");
        }

        switch (action) {
            case "add":
                actionUrl = "../api/ApiElvtAction/Insert";
                break;
            case "edit":
                actionUrl = "../api/ApiElvtAction/Update";
                break;
            case "delete":
                actionUrl = "../api/ApiElvtAction/Delete";
                break;
        }

        //取得目前頁面
        let currentPage = $('#dg').datagrid('options').pageNumber;
        let getSqlSucceed = await getSql($('#funcName').val(), action, data);

        //判斷必填與各式錯誤
        if (action === 'add') {
            if (edit_id === '' || edit_name === '' || selectedElvtGUID === '' || selectedCmdGUID === '') {
                toastr.error(
                    globalDoc.getTextByKey('error'),
                    globalDoc.getTextByKey('輸入資料不完整')
                );
                return;
            }
        }

        //新刪修
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: data,
            dataType: "json",
            success: function (response) {
                toastr.success(
                    globalDoc.getTextByKey('succeed'),
                    globalDoc.getTextByKey('prompt')
                );
                guid = response.guid;
                if (getSqlSucceed) {
                    saveRequestPerformanceLog(
                        sessionStorage.getItem('userGuid'),
                        sessionStorage.getItem('groupId')
                    );
                }
                if (action == "add") {
                    //確定新增後加一行新增資料
                    $('#dg').datagrid('insertRow', {
                        row: {
                            GUID: guid,
                            ELVT_ID: edit_elvt_id,
                            ELVT_NAME: elvt_name,
                            ID: edit_id,
                            NAME: edit_name,
                            COMMAND_NAME: cmd_name,
                            COMMAND: cmd_command,
                            INDEX: edit_index,
                            NEXT_INDEX: edit_next_index,
                            TYPE: edit_type,
                            REMARK: edit_remark
                        }
                    });
                } else {
                    Query(currentPage);
                }

                $('.ajaxRequest').attr('disabled', false);
            }
        });
    }

    //選擇完關窗
    function afterChoose(e) {
        $('#modal_Query').modal('hide');
    }

    function beforeSubModalShow(e) {
        let targetId = choosetargetId;
        let inputElms = document.forms["formQueryB"].getElementsByTagName("input");
        //清空輸入欄位
        for (let i = 0; i < inputElms.length; i++) {
            inputElms[i].value = "";
        }
        //變更標題
        if (targetId === "edit_elvt_modal") {
            $('#queryModalTitle').text(doc.getTextByKey("elvt"));
        } else if (targetId === "edit_command_modal") {
            $('#queryModalTitle').text(doc.getTextByKey("cmd"));
        }
    }

    //事件:子查詢選擇視窗開啟
    function onSubModalShow() {
        $('#btnChoose').text(globalDoc.getTextByKey('ok'));
        tableInitB();
        $('#dgB').datagrid('loadData', { "total": 0, "rows": [] });
        $('#btnChoose').attr('disabled', true);
    }

    //新增,清空欄位後開窗
    function Add() {
        if ($(this).linkbutton('options').disabled == true) return;

        action = 'add';
        selectedElvtGUID = undefined;
        selectedCmdGUID = undefined;

        let elm = document.getElementById("formEdit");

        for (let i = 0; i < elm.length; i++) {
            elm[i].value = "";
            elm[i].disabled = false;
        }

        $('#modal_edit').modal('show');
    }

    //匯出(從DataGrid)
    function ExportOnClick() {
        if ($(this).linkbutton('options').disabled == true) return;
        Export();
    }

    //匯出(從DB)
    function Export() {
        $.post("../api/ApiElvtAction/Export", queryParams, function (response) {
            let url = response.filePath;
            let $a = $('<a />', {
                'href': url,
                'download': null,
                'text': "click"
            }).hide().appendTo("body")[0].click();

            URL.revokeObjectURL(url);
            $('.ajaxRequest').attr('disabled', false);
        });
    }

    //確認視窗按鈕動作
    function Confirm(btnVal) {
        switch (btnVal) {
            case 'Y':
                switch (action) {
                    case 'delete':
                        Accept();
                        break;
                }
                break;
            case 'N':
                break;
        }
    }

    $(function () {
        doc = new Doc($('#funcName').val(), sessionStorage.getItem('userLng'), 'content');
        doc.searchFile().then((val) => {
            doc.converStaticElm("content");
            PageInit();
            PageEventBind();
        });
    });
</script>