<div class="error-main">
    <div class="error-content">
        <h2 class="error-title">
            Page not found
        </h2>
        <div class="error-msg">
            <div class="error-btn" id="error-btn">
                詳細錯誤訊息<i class="fas fa-angle-down"></i>
            </div>
            <p class="error-detail">
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
                錯誤內容
                <br>
            </p>

        </div>
    </div>
</div>

<script>
    $('#error-btn').click(function (e) {
        $(".error-msg").toggleClass('show');
        $(".error-msg").find('.fa-angle-down').toggleClass('rotate');
    });

</script>
